.chat-container {
  width: 100%;
}

.fab-chat {
  width: 70px;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 100%;
  color: white;
  background: black;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.8);
  cursor: pointer;
}

.chat-window {
  width: 100%;
  max-width: 250px;
  height: 250px;
  position: fixed;
  bottom: 130px;
  right: 45px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

@media (max-width: 576px) {
  .chat-window {
    max-width: 100%;
    padding: 10px;
    height: 50%;
    right: 0px;
    bottom: 100px;
  }

  .chat-container {
    height: 100%;
  }
}

.chat-window > .controls {
  background: black;
  color: #FCFCFC;
}

.chat-window > .controls > .close-btn {
  font-size: 18px;
  cursor: pointer;
}

.messages {
  height: 100%;
  display: block;
  background: #FCFCFC;
  padding: 5px;
  overflow: scroll;
}

.message-entry {
  color: black;
  background: #FCFCFC;
  text-align: left;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.message-entry:nth-child(even) {
  color: white;
  background: #4A4A4A;
}
