.timer-component {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icon {
  font-size: 42px;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar-content {
  padding-top: 10px;
  width: 100%;
}

.progress-bar {
  height: 8px;
  width: 100%;
}

.progress-bar .background {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.progress-bar .completed {
  height: 100%;
  background-color: black;
  position: relative;
  top: -100%;
}
